html,body {
    width: 100%;
    height: auto;
    background-color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.point-counter-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.point-counter-head h1 {
    font-size: 50px;
}

.point-counter-head h2 {
    width: 50%;
    height: 100px;
    border: 1px red solid;
}

.point-counter {
    display: flex;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.point-counter div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: auto;
}


.buttons {
    display: flex;
    width: 60%;
    height: auto;
    padding: 20px 10px;
    margin:10px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    border-radius: 10px;
}

.button {
    height: 100px;
    width: 100px;
    margin: 15px;
    box-shadow: inset 2px -2px  10px gray;
    border: 1px gray solid;
    border-radius: 10px;
    font: 50px 'Times New Roman', Times, serif;
    color:cadetblue;
}

.button:hover {
    color:cornflowerblue;
}